.fade-in-row {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInRow 0.5s forwards;
  }
  
  @keyframes fadeInRow {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  